@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>

@if (TempData["Message"] != null)
{   
    <!--show fades in alert. dismiss allows user to close alert, then it will fade-->
    <div class="alert alert-success alert-dismissible fade show" role = "alert">
        <h2 id="succes_message">
            @TempData["Message"]
            <!--btn-close makes it an x, aria label close after-->
            <button type="button" class = "btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </h2>
    </div>
}

<p>
    <a asp-action="Create" asp-controller="Students">Create New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
